@import "./styles/navbar";
@import "./styles/post";
@import "./styles/creator";
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400&display=swap');
body{
  margin: 0;
}
.App {
  font-family: 'Raleway', sans-serif;
  // background-image: radial-gradient(circle, #0e0e11, #0c0b0d, #090709, #050304, #000000);
  background-color: #1E1E1E;
  padding-bottom: 40px;
  min-height: 100vh;
}

.create-post{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h1, h2{
  color: white;
}

.loader{
  color: white;
}

