.settings-btn{
    grid-area: right;
    display: flex;
    place-content: center center;
    width: 80px;
    font-size: 14px;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(55, 57, 70);
    padding: 5px 0px;
    font-weight: 500;
    cursor: pointer;

}

.follow_btn{
    display: flex;
    place-content: center center;
    width: 80px;
    font-size: 14px;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(55, 57, 70);
    padding: 5px 0px;
    font-weight: 600;
    color: #f2f2f2;
    cursor: pointer;

}