
 button{
  padding: 10px 4px;
  border:none;
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer;
  background-color: rgb(55, 57, 70);
  width: 100px;
  align-self: center;
  transition: all ease 0.2s;
  font-family: inherit;
  color: #f2f2f2;
  outline: none;
  white-space: nowrap;
  &.send{
    align-self: flex-end;
    padding: 8px 8px;
    // height: 30px;
    margin-right: 8px;
    margin-bottom: 8px;
    svg{
      margin-left: 2px;
      font-weight: 200;
    }
  }
}

section .container{
  max-width: 500px;
  position: relative;
}

.create-post{
  align-self: center;
  justify-self: center;
  width: 95%;
  position: relative;
  .loginFirst{
    position: relative;
    min-height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    height: 100%;
    background-color: rgba(35, 36, 42, 1);
    z-index: 2;
    gap: 15px;
    font-size: 18px;
    p{
      text-align: center;
    }
   
  }
  form{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    width: 100%;
    grid-gap: 8px;
    gap: 8px;
    background-color: rgba(35, 36, 42, 1);
    border-radius: 10px;
    
    .input-box{
      width: 100%;
      display: flex;
      justify-content: center;
      label{
        display: block;
        padding: 10px 15px;
      }
    }
    textarea{
      border:none;
      background-color: rgba(35, 36, 42, 1);
      width: 95%;
      color: white;
      resize: none;
      height: 60px;
      padding: 15px 15px;
      font-size: 16px;
      font-family: inherit;
      border-radius: 10px;
      &:focus{
        outline:none;
      }
    }
   
    input:focus, textarea:focus{
      transition: all 0.2s;
    }

    
    label{
      font-weight: 400;
      color: white;
    }

  }
}
.create-comment{
  form{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    width: 100%;
    grid-gap: 8px;
    gap: 8px;
    background-color: rgba(35, 36, 42, 1);
    border-radius: 10px;
    
    
    .input-box{
      width: 100%;
      border-top: rgb(49, 49, 49) 1px solid;
      display: flex;
      justify-content: center;
      label{
        display: block;
        padding: 10px 15px;
      }
    }
    textarea{
      border:none;
      background-color: rgba(35, 36, 42, 1);
      width: 95%;
      color: white;
      resize: none;
      height: 60px;
      padding: 15px 15px;
      font-size: 16px;
      font-family: inherit;
      border-radius: 10px;
      &:focus{
        outline:none;
      }
    }
   
    input:focus, textarea:focus{
      transition: all 0.2s;
    }

    
    label{
      font-weight: 400;
      color: white;
    }

  }
}


