
 button{
  padding: 10px 4px;
  border:none;
  border-radius: 4px;
  font-weight: 500;
  cursor: pointer;
  background-color: rgb(43, 45, 55);
  width: 100px;
  align-self: center;
  transition: all ease 0.2s;
  font-family: inherit;
  color: #f2f2f2;
}
.create-post{
  align-self: center;
  justify-self: center;
  max-width: 500px;
  width: 95%;
  position: relative;
  .loginFirst{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    height: 100%;
    background-color: rgba(35, 36, 42, 1);
    z-index: 2;
    gap: 15px;
   
  }
  form{
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 8px;
    box-shadow: rgb(29, 30, 34) 0 0 14px;
    background-color: rgba(35, 36, 42, 1);
    border-radius: 10px;
    padding: 10px 0px;

    

    &.creator{
      width: 100%;
    }
    .input-box{
      display: flex;
      flex-direction: column;
      padding: 0px 0px;
      label{
        display: block;
        padding: 10px 15px;
      }
    }
    input,textarea{
      margin: 8px 0px;
      padding: 5px 0px;
      border:none;
      border-radius: 4px;
      background-color: rgba(35, 36, 42, 1);
      border-top: rgb(49, 49, 49) 1px solid;
      border-bottom: rgb(49, 49, 49) 1px solid;


      color: white;
      resize: none;
      &:focus{
        outline:none;
      }
    }
    textarea{
      height: 60px;
      padding: 15px;
      font-size: 18px;
      font-family: inherit;


    }
    input:focus, textarea:focus{
      transition: all 0.2s;
    }

    button{
      padding: 5px 0px;
      border:none;
      border-radius: 4px;
      font-weight: 400;
      cursor: pointer;
      color: white;
      background-color: rgb(55, 57, 70);
      width: 100px;
      align-self: center;
      transition: all ease 0.2s;
      font-family: inherit;
    }
    label{
      font-weight: 400;
      color: white;
    }

  }
}
.create-comment{
  form{
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: rgba(35, 36, 42, 1);
    border-radius: 10px;
    padding-bottom: 10px;
    &.creator{
      width: 500px;
    }
    .input-box{
      display: flex;
      flex-direction: column;
      padding: 0px 0px;
      label{
        display: block;
        padding: 10px 15px;
      }
    }
    input,textarea{
      padding: 5px 0px;
      border:none;
      border-radius: 4px;
      background-color: rgba(35, 36, 42, 1);
      border-top: rgb(49, 49, 49) 1px solid;
      border-bottom: rgb(49, 49, 49) 1px solid;


      color: white;
      resize: none;
      &:focus{
        outline:none;
      }
    }
    textarea{
      height: 160px;
      padding: 15px;
      font-size: 18px;
      font-family: inherit;
    }
    input:focus, textarea:focus{
      transition: all 0.2s;
    }

    button{
      padding: 5px 0px;
      border:none;
      border-radius: 4px;
      font-weight: 400;
      cursor: pointer;
      color: white;
      background-color: rgb(55, 57, 70);
      width: 100px;
      align-self: center;
      transition: all ease 0.2s;
      font-family: inherit;
    }
    label{
      font-weight: 400;
      color: white;
    }

  }
}


