.navbar{
    position: fixed;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 15px;
    z-index: 5;

    .nav-grid{
        justify-self: center;
        display: grid;
        grid-template-columns: repeat(3, minmax(30%, auto));
        grid-template-areas: 'left middle right';
        flex-direction: row;
        list-style-type: none;
        align-items: center;
        justify-items: center;
        padding: 0;
        max-width: 500px;
        width: 95%;
        margin: 0;
        border-radius: 0px 0px 10px 10px;
        background-color: rgb(51, 53, 63);
        padding: 8px 0px;
    }
    svg{
        color: white;
    }
    .btn-container{
        justify-self: flex-start;
        padding-left: 15px;
    }
    .btn{
        align-self: flex-start;
    }
    a{
        display: flex;
        text-decoration: none;
        color: #f2f2f2;
        font-weight: 400;
    }
    button{
        border: none;
        background-color: transparent;
        color: white;
        font-family: inherit;
        font-size: inherit;
        outline: none;
        cursor: pointer;
    }
    .profile-image{
        grid-area: right;
    }
    img{
        
        width: 40px;
        height: 40px;
        border-radius: 10px;
        box-shadow: rgba(29, 30, 34, 0.6) 0 0 16px;


    }
    .logo{
        grid-area: middle;
        width: 120px;
    }
}

