.feed{
    display: grid;
    grid-template-columns: 1fr;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: auto;
    grid-gap: 12px;
    padding-top: 68px;
    height: auto;
    // min-height: 100vh;
    &::-webkit-scrollbar{
        display: none;
    } 
}
.post-feed{
    display: grid;
    grid-template-columns: 1fr;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    // max-width: 500px;
    grid-gap: 16px;
}
.profile-image{
    img{
        border-radius: 10px;
    }
}


.action-bar{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 30px;
    padding: 8px 10px;
    border-top: rgb(49, 49, 49) 1px solid;

    .comment-btn{
        position: relative;
        right: 10px;
        font-size: 16px;
        padding: 8px 9px;
        border-radius: 25px;
        cursor: pointer;
        .count{
            position: absolute;
            left: -18px;
            top: 6px;
            margin-right: 16px;
            
        }
    }
    
}
.username{
    font-size: 14px;
    font-weight: 500;

}
p{
    width: 90%;
    line-height: 1.3;
    letter-spacing: 0.15px;
}
.post{
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    box-shadow: rgb(29, 30, 34) 0 0 14px;
    background-color: rgba(35, 36, 42, 1);
    border-radius: 10px;
    max-width: 500px;

    width: 95%;
    div{
        color: #CFCFCF;
    }
    h4,p,h2,h1{
        color: #CFCFCF;
        margin: 0;
    }
    
    .empty{
        text-align: center;
        padding: 10px 0px;
        
    }
    .post-heading{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        padding: 12px 12px;
        border-bottom: rgb(49, 49, 49) 1px solid;
        overflow: hidden;
        border-radius: 10px 10px 0px 0px;
        .left{
            display: flex;
            flex-direction: row;
            align-items: center;
            .timestamp{
                font-weight: 200;
                font-size: 14px;
            }
        }
        img{
            width: 35px;
            height: 35px;
            border-radius: 3px;
        }
        a{
            text-decoration: none;
            color: inherit;
        }
        .align-center{
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-right: 10px;
            img{
                margin-right: 10px;
            }
        }
    }
    .post-content{
        .post-message{
            padding: 12px;
            min-height: 60px;
        }

    }
    .controls{
        align-self: flex-end;
        position: relative;
    }
    &.small{
        .post-heading{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
            padding: 4px 8px;
            border-bottom: rgb(49, 49, 49) 1px solid;
            overflow: hidden;
            border-radius: 8px 8px 0px 0px;
            .left{
                display: flex;
                flex-direction: row;
                align-items: center;
                .timestamp{
                    font-weight: 200;
                    font-size: 14px;
                }
            }
            img{
                width: 30px;
                height: 30px;
                border-radius: 3px;
            }
            a{
                text-decoration: none;
                color: inherit;
            }
            .align-center{
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-right: 10px;
                img{
                    margin-right: 10px;
                }
            }
        }
        .post-content{
            .post-message{
                padding: 15px 0px 20px 15px;
                min-height: 25px;
                
            }
        }
        .action-bar{
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            height: 24px;
            padding: 8px 10px;
            border-top: rgb(49, 49, 49) 1px solid;
        
            .comment-btn{
                position: relative;
                right: 10px;
                font-size: 16px;
                padding: 6px 9px;
                border-radius: 25px;
                cursor: pointer;
                .count{
                    position: absolute;
                    vertical-align: middle;
                    left: -16px;
                    top: 5px;
                }
            }
            
        }
    }

}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: auto;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    cursor: pointer;
    
}

.comment-feed{
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    grid-gap: 10px;
}

.comment-container{
    align-self: center;
    justify-self: center;
    box-shadow: rgb(29, 30, 34) 0 0 14px;
    background-color: rgba(35, 36, 42, 1);
    border-radius: 10px;
    width: 95%;
    max-width: 500px;

    div{
        color: #CFCFCF;
    }
    h4,p,h2,h1{
        color: #CFCFCF;
        margin: 0;
    }

    .comment-heading{
        border-radius: 10px 10px 0px 0px;
        padding: 12px 12px;
        .left{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            grid-gap: 10px;
            .username{
                font-size: 14px;
            }
            .timestamp{
                font-weight: 200;
                font-size: 14px;
            }
            a{
                text-decoration: none;
                color: inherit;
            }
            img{
                width: 25px;
                border-radius: 4px;
                box-shadow: rgba(29, 30, 34, 0.6) 0 0 16px;

            }
            .align-center{
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-right: 10px;
                img{
                    margin-right: 10px;
                }
            }
        }

        // justify-content: ;

    }
    .comment-content{
        border-top: rgb(49, 49, 49) 1px solid;
        font-size: 16px;
        .comment-message{
            padding: 10px 12px;
            min-height: 20px;

        }
        .action-bar{
            height: 25px;

        }
    }

}
