.postfeed{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: auto;
    padding: 8px 8px;
    border: 2px rgba(0, 0, 0, 0.75) solid;
    background-color: #121212;
    gap: 8px;
}


.post{
    display: flex;
    flex-direction: column;
    // gap: 20px;
    border: 2px rgba(0, 0, 0, 0.75) solid;
    background-color: #1E1E1E;
    padding: 5px;
    div{
        color: white;
    }
    h4,p,h2,h1{
        color: white;
        margin: 0;
    }
    .modal {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0px;
        left: 0px;
        background-color: rgba(0, 0, 0, 0.25);
        width: 100vw;
        height: 100vh;
        z-index: 3;
        &.hide{
            display: none;
        }
        .modal-main{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #363B59;
            height: 400px;
            width: 500px;
            gap: 15px;
            
            .btn-group{
                display: flex;
                flex-direction: row;
                justify-content: center;
                button{
                    padding: 8px 14px;
                    border-radius: 8px;
                    border: none;
                    font-family: inherit;
                    font-weight: 700;
                    margin-right: 15px;
                    &.confirm{
                        background-color: #ED5E68;
                        color: white;
                    }
    
                    &.cancel{
                        background-color: #8388A4;
                        color: #2A2E47;
                    }
                }
            }
            
        }
    }

    .username{
        font-weight: 500;

    }

    .post-heading{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        padding: 5px 10px;
        border-bottom: rgb(49, 49, 49) 1px solid;
        .left{
            display: flex;
            gap: 10px;
            align-items: center;
            .timestamp{
                font-weight: 200;
                font-size: 14px;
            }
        }
        img{
            width: 25px;
        }
    }
    .post-content{
        .post-message{
            padding: 10px;
            min-height: 80px;
        }
        .action-bar{
            height: 30px;
            padding: 8px 10px;
            border-top: rgb(49, 49, 49) 1px solid;
            display: flex;
            flex-direction: row;
            .votes{
                position: relative;
                align-self: flex-end;
                font-size: 20px;
                &.no{
                    position: absolute;

                    &::after{
                        position: absolute;
                        left: 20px;
                        font-size: 20px;
                        text-align: center;
                        // padding: '5px;
                        content: "😠";
                    }
                }
                &.yes{
                    &::after{
                        position: absolute;
                        left: 20px;
                        font-size: 20px;
                        content: "😡";
                    }
                }
                
                
            }
        }
    }
    .controls{
        align-self: flex-end;
        position: relative;
        .btn{
            cursor: pointer;
            padding: 8px;
        }
        .control-dropdown{
            display: none;
            position: absolute;
            width: 300px;

            left: -290px;
            top: 5px;
            z-index: 1;
            ul{
                display: flex;
                margin: 0;
                width: 100%;
                flex-direction: column;
                list-style-type: none;
                background-color: black;
                box-shadow: 0 0 10px rgba(255, 255, 255, 0.253);
                padding-left: 0;
                padding: 5px;
                li{
                    z-index: 3;
                    width: 100%;
                    padding: 15px 10px;
                    border-bottom: 2px darkgray;
                    cursor: pointer;
                }
                .layer{
                    position: fixed;
                    z-index: 2;
                    top: 50px;
                    left: 0px;
                    width: 100vw;
                    height: 100vh;
                   
                }
                
            }
            
        }
        .open{
            display: block;

        }
        
    }
    
}