.postfeed{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: auto;
    padding: 40px 20px;
    border: 2px rgba(0, 0, 0, 0.76) solid;
    gap: 20px;
}

.post{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 2px rgba(0, 0, 0, 0.76) solid;
    padding: 5px 10px;
    
    div{
        color: white;
    }
    h4,p,h2,h1{
        color: white;
        margin: 0;
    }
    .username{
        font-weight: 500;

    }

    .post-heading{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        padding: 10px 10px;
        .left{
            display: flex;
            gap: 10px;
            align-items: center;
            .timestamp{
                font-weight: 200;
                font-size: 14px;
            }
        }
        img{
            width: 25px;
        }
    }
    .post-content{
        padding: 0px 10px 10px 10px;
    }
    .controls{
        align-self: flex-end;
        position: relative;
        .btn{
            cursor: pointer;
        }
        .control-dropdown{
            display: none;
            position: absolute;
            width: 300px;

            left: -280px;
            top: -10px;
            z-index: 1;
            ul{
                display: flex;
                margin: 0;
                width: 100%;
                flex-direction: column;
                list-style-type: none;
                background-color: black;
                box-shadow: 0 0 10px white;
                padding-left: 0;
                li{
                    z-index: 3;
                    width: 100%;
                    padding: 15px 10px;
                    border-bottom: 2px darkgray;
                    cursor: pointer;
                }
                .layer{
                    position: fixed;
                    z-index: 2;
                    top: 50px;
                    left: 0px;
                    width: 100vw;
                    height: 100vh;
                   
                }
                
            }
            
        }
        .open{
            display: block;

        }
        
    }
    
}