.profile-feed{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: auto;
    padding: 8px 8px;
    border: 2px rgba(0, 0, 0, 0.75) solid;
    background-color: #121212;
    gap: 8px;
    .profile-grid{
        padding: 8px 8px;
        display: flex;
        flex-direction: column;
        background-color: #1E1E1E;
        grid-template-columns: 3fr 7fr;
        color: white;
        gap: 10px;
        .profile-info{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            ul{
                list-style-type: none;
                margin: 0;
                padding: 0;
            }
        }
    }
}

a{
    text-decoration: none;
    color: inherit;
    width: 100%;
    
}
.settings-btn{
    display: flex;
    place-content: center center;
    width: 150px;
    border: #313131 2px solid;
    text-align: center;
    padding: 5px 0px;
    
}